<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Unfall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Bitte machen Sie so viele Aufnahmen wie nötig ("BILD AUFNEHMEN", jedes Foto einzeln
    bestätigen oder verwerfen), Querformat, mindestens eine mit gut sichtbarem Kennzeichen des Gegnerfahrzeuges.
    Dann "EMAIL SENDEN", Ihre Email-App auswählen und abschicken.
  </p>
  <ion-button expand="block"  color="dark" (click)="captureImage()">BILD AUFNEHMEN</ion-button>
  <ion-button expand="block"  color="dark" (click)="sendMailT()">EMAIL SENDEN</ion-button>

  <ion-card>
    <ion-card-header class="bow">
        <span>Gegenwärtiges Foto</span>
        <ion-icon name="arrow-down-sharp" aria-hidden="true"></ion-icon>
    </ion-card-header>
    
    <ion-card-content>
      <ion-img [src]="currentImage" *ngIf="currentImage"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
